<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/main.css" />
		<title>Scraper</title>
	</head>
	<body>
		<div id="header">
			Section to scrape: <select id="scrapeSection">
				<option value="">Home page</option>
				<option value="world">World</option>
				<option value="us">U.S.</option>
				<option value="politics">Politics</option>
				<option value="nyregion">N.Y.</option>
				<option value="business">Business</option>
				<option value="opinion">Opinion</option>
				<option value="technology">Tech</option>
				<option value="science">Science</option>
				<option value="health">Health</option>
				<option value="sports">Sports</option>
				<option value="arts">Arts</option>
				<option value="books">Books</option>
				<option value="fashion">Style</option>
				<option value="dining">Food</option>
				<option value="travel">Travel</option>
				<option value="magazine">Magazine</option>
				<option value="t-magazine">T Magazine</option>
				<option value="realestate">Real Estate</option>
				<option value="obituaries">Obituaries</option>
				<option value="learning">The Learning Network</option>
				<option value="multimedia">Multimedia</option>
			</select>
			<button id="scrapeButton" onclick="scrape()">Scrape</button>
		</div>
		{{{ body }}}
        <script src="/javascript/main.js"></script>
	</body>
</html>