<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/main.css" />
		<title>Scraper</title>
	</head>
	<body>
		<div id="headerContainer">
			<div id="header">
				<span id="siteTitle"><a href="/" class="linkFormat">New York skyScraper</a></span>
				<span id="sectionSelector"><a href="/articles" class="linkFormat" id="navToSavedArticles">Saved articles</a><span id="sectionSelector"></span> NYT Section: <select id="scrapeSection">
					<option value="">Home page</option>
					<option value="world">World</option>
					<option value="us">U.S.</option>
					<option value="politics">Politics</option>
					<option value="nyregion">N.Y.</option>
					<option value="business">Business</option>
					<option value="opinion">Opinion</option>
					<option value="technology">Tech</option>
					<option value="science">Science</option>
					<option value="health">Health</option>
					<option value="sports">Sports</option>
					<option value="arts">Arts</option>
					<option value="books">Books</option>
					<option value="fashion">Style</option>
					<option value="food">Food</option>
					<option value="travel">Travel</option>
					<option value="magazine">Magazine</option>
					<option value="t-magazine">T Magazine</option>
					<option value="realestate">Real Estate</option>
					<option value="obituaries">Obituaries</option>
					<option value="learning">The Learning Network</option>
					<option value="multimedia">Multimedia</option>
				</select>
				<button id="scrapeButton" onclick="scrape()">Scrape</button></span>
			</div>
		</div>

		<div id="saveArticleModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<p id="modalHeading">Save article</p>
				<p id="titleModal"></p>
				<p id="urlModal"></p>
				<form action="javascript:void(0);">
					<textarea name="noteTitle" id="noteTitle" placeholder="Note title" cols="100"></textarea><br>
					<textarea name="noteBody" id="noteBody" placeholder="Note body" rows="6" cols="100"></textarea><br>
					<input type="submit" id="noteSubmit" value="Save article" onclick="finalSaveArticle()" />
				</form>
				<p id="msgArea"></p>
			</div>
		</div>

		<div id="notesModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<p id="notesHeading">Add or edit a note</p>
				<p id="notesArticleTitle"></p>
				<p id="notesArticleUrl"></p>
				<form action="javascript:void(0);">
					<textarea name="notesTitle" id="notesTitle" placeholder="Note title" cols="100"></textarea><br>
					<textarea name="notesBody" id="notesBody" placeholder="Note body" rows="6" cols="100"></textarea><br>
					<input type="submit" id="notesSubmit" value="Save article" onclick="saveNotes()" />
				</form>
				<p id="notesMsgArea"></p>
			</div>
		</div>

		<div id="bodyContainer">{{{ body }}}</div>

        <script src="/javascript/main.js"></script>
	</body>
</html>