<div class="article">
    <div class="articleTitle">
        {{title}} <span class="saveButton"><button saved="false">Save article</button></span>
    </div>
    <div class="articleLink">
        <a href="{{link}}">Read it at NYTimes.com</a>
    </div>
</div>